@import url("theme_color.css");

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

nav {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.w-80 {
    width: 80% !important;
    padding: 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.bm-nav-item {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    /* color: #fff; */
    color: var(--color-prim);
}

.bm-nav {
    top: 0;
    /* box-shadow: 0px 1px 10px #999; */
    margin: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
}

.bm-nav-item:hover {
    color: var(--color-prim);
    opacity: 0.5;
    text-decoration: none;
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
}

.text-display {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
}

.text-sub {
    font-size: 1.5rem;
    font-weight: 600;
}

.text-body {
    font-size: 0.8rem;
    font-weight: 600;
}

.text-reason {
    padding-left: 0;
}

@media (max-width: 425px) {
    .text-display {
        font-size: 1.5rem;        
    }
}

.landing-people {
    background: none;
}

@media (min-width: 768px) {
    .landing-people {
        background: url("/icons/landing-people.png");
        background-size: 55%;
        background-position: right 0em top 8em;
        background-repeat: no-repeat;
        box-sizing: border-box;    
    }
}

@media (min-width: 992px) {
    .text-display {
        font-size: 4rem;
    }

    .landing-people {
        background-size: 50%;
        background-position: right 2em top 6em;
    }
}

@media (min-width: 1200px) {
    .landing-people {
        background-size: 50%;
        background-position: right 4em top 4em;
    }
}

.icon {
    max-width: 4.5em;
    height: 3em;
    margin-top: auto;
    margin-bottom: auto;
}

.desc-head {
    color: var(--color-prim);   
}

.desc {
    color: var(--color-sec);   
}