:root {
    --color-prim: #ff9900;
    --color-pale: #ff6633;
    --color-dark: #cc6600;
    --color-light: #ffcc33;
    --color-sec: #333366;
}

.bm-bg-prim {
    background: var(--color-prim);
}

.bm-bg-dark {
    background: var(--color-dark);
}

.bm-bg-sec {
    background: var(--color-sec) !important;
}

.bm-color-prim {
    color: var(--color-prim) !important;
}

.bm-color-dark {
    color: var(--color-dark) !important;
}

.bm-color-sec {
    color: #333366;
}

.bm-border-sec {
    border-color: var(--color-sec) !important;
}